dist
dist-ssr
dist.zip
dist.tar
dist.war
.output
*-dist.zip
*-dist.tar
*-dist.war
*.local
.temp

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.history
.venv
